<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battery.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{120,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{120,95}}</string>
                <key>sourceSize</key>
                <string>{126,99}</string>
            </dict>
            <key>battery1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{126,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{126,95}}</string>
                <key>sourceSize</key>
                <string>{126,99}</string>
            </dict>
            <key>battery2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,160},{120,97}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,97}}</string>
                <key>sourceSize</key>
                <string>{126,99}</string>
            </dict>
            <key>battery3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{120,95}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,95}}</string>
                <key>sourceSize</key>
                <string>{126,99}</string>
            </dict>
            <key>battery4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{120,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{120,95}}</string>
                <key>sourceSize</key>
                <string>{126,99}</string>
            </dict>
            <key>cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{134,45}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{134,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
            <key>cannon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{134,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{134,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
            <key>cannon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{138,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{138,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
            <key>cannon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{156,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{156,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
            <key>cannon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
            <key>cannon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{134,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{134,45}}</string>
                <key>sourceSize</key>
                <string>{168,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannonsheet.png</string>
            <key>size</key>
            <string>{252,337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64fa696e93fa0f3724082f95c88a5a21$</string>
            <key>textureFileName</key>
            <string>cannonsheet.png</string>
        </dict>
    </dict>
</plist>
