<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>monster_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>monster_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>monster_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>monster_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_5.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97dddea9f6e543750d9d8fcf1d3ddd13$</string>
            <key>textureFileName</key>
            <string>monster_5.png</string>
        </dict>
    </dict>
</plist>
